<!-- Start Projects-->
	
	<section id="{{ page.section-type }}" class="container content-section text-center" >
		<h2> Projects </h2>
		<div class="row pack">
			{% for project in site.projects %}  
			 
            <div class="col-md-4 card">
             <a href="{{ project.url }}" target="_blank" rel='noopener noreferrer' class="index-anchor project">    
                <div class="panel panel-default">
                  
                  {% if project.img %}
                  <img width="100%" src="{{project.img | prepend: site.baseurl}}" alt="{{project.title}}">
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}/assets/img/projects/default.png" alt="{{site.title}}">
                  {% endif %}
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ project.title | truncate: 25 }}</h3>
                  </div>
                  
                  <div class="panel-body">
				  	<span class="project-text">
                    	{{ project.description | truncate: 250 }}
					</span>
                  </div>
                </div>
                </a>
            </div>
        
			{% endfor %}
		</div>
	</section>
<!-- End Projects-->